<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Shot Plot</title>
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="http://d3js.org/d3.v3.min.js"></script>
    <link rel="stylesheet"
      href="{{ url_for('static', filename='stylesheets/index.css') }}">
  </head>
  <body>

    <div class="page">

    <div class="title">
      <img src="/static/img/lg_logo.png" class="image_title">
    </div>

    <div class="form">
      <form action="/" method='POST'>
        <input type="file" name="filename" id="select_file" onchange="form.submit()" style="display:none">
        <input type="button" value="Upload Target Image" id="upload_button" onclick="document.getElementById('select_file').click()">
        <input type="submit" method="get" style="display:none">
      </form>
    </div>

    <div class="results">
      {% if filename %}
        {% if error %}
          <p>Uh, oh: {{ error }}</p>
        {% else %}
          <div id="summary">
            <h2 class="section_label">Score Report</h2>
            <div id="summary_content">
              <div id="image_name"></div>
              <div id="num_shots"></div>
              <div id="true_score"></div>
              <div id="op_score"></div>
              <div id="score_hmap"></div>
            </div>
          </div>
          <div id="charts">
            <h2 class="section_label">Shot Chart</h2>
            <div id="charts_align">
              <span id="vert_hmap"></span>
              <span id="target"></span>
              <br>
              <span id="hori_hmap"></span>
            </div>
          </div>
          <div id="recos">
            <h2 class="section_label">Recommendations</h2>
            <ul class="reco_list">
              {% for reco in stats.recos %}
                <li class="reco_item">{{ reco }}</li>
              {% endfor %}
            </ul>
          </div>
          <div class="page_end">
            <img src="/static/img/sm_logo.png" width=50px height=50px>
          </div>

        {% endif %}
      {% endif %}

      {% if not filename or error %}
        <div class="help">
          <img src="/static/img/help.png" width=200px height=200px>
          <p>For best results make sure target stands out from background and
            all four corners are visible.
          </p>
        </div>
      {% endif %}

    </div>

    </div>

    <script>
      // Shared graph settings
      var trg_size = {{ stats.trg_size }};
      var shot_size = {{ stats.shot_size }};
      var score_step = {{ stats.score_step }};
      var bar_size = Math.ceil(trg_size / 14);
      var bar_buffer = 170;
      var hmap_size = Math.ceil(trg_size / 14);
      var hmap_hue = 220;
      var hmap_sat = .9;
      var hmap_ticks = [...Array(3).keys()];

      // Creates image name text
      var ft_svg = d3.select("#image_name")
                    .append("svg")
                    .attr("width", trg_size + bar_buffer)
                    .attr("height", bar_size);
      ft_svg.append("text")
        .text("Image Name:")
        .attr("x", 0)
        .attr("y", 20)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1em")
        .attr("fill", "black");
      ft_svg.append("text")
        .text("{{ filename }}")
        .attr("x", bar_buffer)
        .attr("y", 20)
        .attr("font-family", "sans-serif")
        .attr("font-weight", "bold")
        .attr("font-size", "1em")
        .attr("fill", "black");

      // Creates number of shots text
      var st_svg = d3.select("#num_shots")
                    .append("svg")
                    .attr("width", trg_size + bar_buffer)
                    .attr("height", bar_size);
      st_svg.append("text")
        .text("Number of Shots:")
        .attr("x", 0)
        .attr("y", 20)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1em")
        .attr("fill", "black");
      st_svg.append("text")
        .text("{{ stats.num_shots }}")
        .attr("x", bar_buffer)
        .attr("y", 20)
        .attr("font-family", "sans-serif")
        .attr("font-weight", "bold")
        .attr("font-size", "1em")
        .attr("fill", "black");

      // Creates true score bar graph
      var true_score = {{ stats.mean_score }};
      var true_width = true_score / 10 * trg_size;

      var ts_svg = d3.select("#true_score")
                    .append("svg")
                    .attr("width", trg_size + bar_buffer)
                    .attr("height", bar_size);
      var ts_bg = ts_svg.append("rect")
                    .attr("width", trg_size)
                    .attr("height", bar_size)
                    .attr("x", bar_buffer)
                    .attr("y", 0)
                    .style("fill", "lightgray");
      var ts_graph = ts_svg.append("rect")
                        .attr("width", true_width)
                        .attr("height", bar_size)
                        .attr("x", bar_buffer)
                        .attr("y", 0)
                        .style("fill", "#26734d");
      ts_svg.append("text")
        .text(true_score)
        .attr("x", bar_buffer + true_width - 50)
        .attr("y", 20)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1em")
        .attr("fill", "white");
      ts_svg.append("text")
        .text("Average Shot Score:")
        .attr("x", 0)
        .attr("y", 20)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1em")
        .attr("fill", "black");

      // Creates optimized score bar graph
      var op_score = {{ stats.mean_op_score }};
      var op_width = op_score / 10 * trg_size;

      var os_svg = d3.select("#op_score")
                    .append("svg")
                    .attr("width", trg_size + bar_buffer)
                    .attr("height", bar_size);
      var os_bg = os_svg.append("rect")
                    .attr("width", trg_size)
                    .attr("height", bar_size)
                    .attr("x", bar_buffer)
                    .attr("y", 0)
                    .style("fill", "lightgray");
      var os_graph = os_svg.append("rect")
                        .attr("width", op_width)
                        .attr("height", bar_size)
                        .attr("x", bar_buffer)
                        .attr("y", 0)
                        .style("fill", "#26734d");
      os_svg.append("text")
        .text(op_score)
        .attr("x", bar_buffer + op_width - 50)
        .attr("y", 20)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1em")
        .attr("fill", "white");
      os_svg.append("text")
        .text("Optimized Shot Score:")
        .attr("x", 0)
        .attr("y", 20)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1em")
        .attr("fill", "black");

      // Creates scoring heatmap
      var s_hmap = {{ stats.score_hmap }};
      var s_hmap_step = trg_size / s_hmap.length;

      var shm_svg = d3.select("#score_hmap")
                      .append("svg")
                      .attr("width", trg_size + bar_buffer)
                      .attr("height", hmap_size*2);
      var shm_rect_grp = shm_svg.append("g");
      var shm_rect = shm_rect_grp.selectAll("rect")
                      .data(s_hmap)
                      .enter()
                      .append("rect")
                      .attr("x", function(d,i) { return i*s_hmap_step+bar_buffer; })
                      .attr("y", 0)
                      .attr("height", hmap_size)
                      .attr("width", Math.ceil(s_hmap_step))
                      .style("fill", function(d) {
                        return d3.hsl(hmap_hue, hmap_sat, d); });
      shm_svg.selectAll("text")
        .data(s_hmap)
        .enter()
        .append("text")
        .text(function(d,i) { return i; })
        .attr("x", function(d,i) { return i*s_hmap_step+bar_buffer+12; })
        .attr("y", s_hmap_step + 10)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1em")
        .attr("fill", "black");
      shm_svg.append("text")
        .text("Score Frequency:")
        .attr("x", 0)
        .attr("y", 20)
        .attr("font-family", "sans-serif")
        .attr("font-size", "1em")
        .attr("fill", "black");

      // Creates vertical spread heatmap
      var y_hmap = {{ stats.y_hmap }};
      var y_hmap_step = trg_size / y_hmap.length;
      var y_tick_step = trg_size / (hmap_ticks.length-1);

      var vhm_svg = d3.select("#vert_hmap")
                      .append("svg")
                      .attr("width", hmap_size*3.5)
                      .attr("height", trg_size);
      var vhm_rect_grp = vhm_svg.append("g");
      var vhm_line_in_grp = vhm_svg.append("g");
      var vhm_line_out_grp = vhm_svg.append("g");
      var vhm_rect = vhm_rect_grp.selectAll("rect")
                      .data(y_hmap)
                      .enter()
                      .append("rect")
                      .attr("x", hmap_size*2)
                      .attr("y", function(d,i) { return i*y_hmap_step; })
                      .attr("height", Math.ceil(y_hmap_step))
                      .attr("width", hmap_size)
                      .style("fill", function(d) {
                        return d3.hsl(hmap_hue, hmap_sat, d); });
      var vhm_line_in = vhm_line_in_grp.selectAll("rect")
                          .data(hmap_ticks)
                          .enter()
                          .append("rect")
                          .attr("x", hmap_size*1.5)
                          .attr("y", function(d) {
                            return Math.min(d*y_tick_step, trg_size-1); })
                          .attr("width", hmap_size/2-5)
                          .attr("height", 1)
                          .style("fill", "black");
      var vhm_line_out = vhm_line_out_grp.selectAll("rect")
                          .data(hmap_ticks)
                          .enter()
                          .append("rect")
                          .attr("x", hmap_size*3.5 - hmap_size/2 + 5)
                          .attr("y", function(d) {
                            return Math.min(d*y_tick_step, trg_size-1); })
                          .attr("width", hmap_size/2-5)
                          .attr("height", 1)
                          .style("fill", "black");
      var vhm_text = vhm_svg.append("text")
                      .text("Vertical Spread")
                      .attr("x", 0)
                      .attr("y", 0)
                      .attr("font-family", "sans-serif")
                      .attr("font-weight", "bold")
                      .attr("font-size", "1.1em")
                      .attr("fill", "black")
                      .attr("transform", "translate(20,260), rotate(-90)");

      // Creates target plot
      var trg_circ_cnt = [...Array(10).keys()].map(i => i+1);

      var trg_svg = d3.select("#target")
                      .append("svg")
                      .attr("width", trg_size)
                      .attr("height", trg_size);
      var trg_circ_grp = trg_svg.append("g");
      var trg_shots_grp = trg_svg.append("g");
      var trg_circ = trg_circ_grp.selectAll("circle")
                      .data(trg_circ_cnt)
                      .enter()
                      .append("circle")
                      .attr("cx", trg_size/2)
                      .attr("cy", trg_size/2)
                      .attr("r", function(d) { return d*score_step; })
                      .style("fill", "none")
                      .style("stroke", "lightgray")
                      .style("stroke-width", 2);
      var trg_shots = trg_shots_grp.selectAll("circle")
                        .data({{ shots|tojson|safe }})
                        .enter()
                        .append("circle")
                        .attr("cx", function(d) { return d.x; })
                        .attr("cy", function(d) { return d.y; })
                        .attr("r", shot_size)
                        .style("fill", "#26734d");
      var borderPath = trg_svg.append("rect")
                        .attr("x", 0)
                        .attr("y", 0)
                        .attr("height", trg_size)
                        .attr("width", trg_size)
                        .style("stroke", "lightgray")
                        .style("fill", "none")
                        .style("stroke-width", 4);

      // Creates horizontal spread heatmap
      var x_hmap = {{ stats.x_hmap }};
      var x_hmap_step = trg_size / x_hmap.length;
      var x_tick_step = trg_size / (hmap_ticks.length-1);

      var hhm_svg = d3.select("#hori_hmap")
                      .append("svg")
                      .attr("width", trg_size)
                      .attr("height", hmap_size*3.5);
      var hhm_rect_grp = hhm_svg.append("g");
      var hhm_line_in_grp = hhm_svg.append("g");
      var hhm_line_out_grp = hhm_svg.append("g");
      var hhm_rect = hhm_rect_grp.selectAll("rect")
                      .data(x_hmap)
                      .enter()
                      .append("rect")
                      .attr("x", function(d,i) { return i*x_hmap_step; })
                      .attr("y", hmap_size/2)
                      .attr("height", hmap_size)
                      .attr("width", Math.ceil(x_hmap_step))
                      .style("fill", function(d) {
                        return d3.hsl(hmap_hue, hmap_sat, d); });
      var hhm_line_in = hhm_line_in_grp.selectAll("rect")
                          .data(hmap_ticks)
                          .enter()
                          .append("rect")
                          .attr("x", function(d) {
                            return Math.min(d*x_tick_step, trg_size-1); })
                          .attr("y", 0)
                          .attr("width", 1)
                          .attr("height", hmap_size/2-5)
                          .style("fill", "black");
      var hhm_line_out = hhm_line_out_grp.selectAll("rect")
                          .data(hmap_ticks)
                          .enter()
                          .append("rect")
                          .attr("x", function(d) {
                            return Math.min(d*x_tick_step, trg_size-1); })
                          .attr("y", hmap_size*2 - hmap_size/2 + 5)
                          .attr("width", 1)
                          .attr("height", hmap_size/2-5)
                          .style("fill", "black");
      var hhm_text = hhm_svg.append("text")
                      .text("Horizontal Spread")
                      .attr("x", trg_size/2-75)
                      .attr("y", hmap_size*3)
                      .attr("font-family", "sans-serif")
                      .attr("font-weight", "bold")
                      .attr("font-size", "1.1em")
                      .attr("fill", "black");

    </script>

  </body>
</html>
