body {
  text-align: center;
  margin: auto;
  width: 55%;
  font-family: sans-serif;
  padding-bottom: 3em;
}

.title {
  padding-bottom: 1.5em;
}

.image_title {
  max-width: 90%;
  padding-top: 6em;
}

.form_button {
  font-size: 1em;
  font-weight: bold;
  padding: .75em 1.25em;
  background: #ddd;
  border: none;
  cursor: pointer;
  -webkit-border-radius: 5px;
  border-radius: 5px;
}

.form_span {
  padding-left: .8em;
  padding-right: .8em;
}

.results {
  padding-top: 2.5em;
}

ul {
  list-style-type: circle;
  width: inherit;
  height: inherit;
}

a:link, a:visited {
  text-decoration: none;
  color: inherit;
}

.link_name {
  font-size: 1.2em;
  font-weight: 300;
  line-height: 1.3em;
  letter-spacing: .15em;
  margin-left: auto;
  margin-right: auto;
  display: table-caption;
  padding: .7em;
  border: .07em solid #000;
}

.results {
  text-align: center;
}

#failure p {
  font-size: 1em;
  font-weight: 500;
  line-height: 1.5em;
  width: 70%;
  display: inline-block;
  padding-bottom: 1em;
}

#summary, #recos, #charts {
  border: .07em solid #000;
  margin-top: 1em;
  padding: .5em 1em 2em 1em;
}

.section_label {
  text-align: center;
}

#summary_content {
  text-align: left;
  display: inline-block;
}

#charts_align {
  text-align: right;
  display: inline-block;
  padding-top: .5em;
  padding-right: 1.5em;
}

#hori_hmap {
  margin-top: 1.5em;
  margin-right: .3em;
  display: inline-block;
  text-align: right;
}

#target {
  margin-left: 1.5em;
}

#recos {
  text-align: left;
  padding-left: 3em;
  padding-right: 3em;
  padding-bottom: 1em;
}

.reco_list {
  padding-right: 2em;
}

.reco_item {
  padding-bottom: .5em;
}

.help {
  padding-top: 1em;
  display: inline-block;
  width: 35%;
}

.img_help {
  width: 100%;
}

.page_end {
  padding-top: 4em;
}

.img_end {
  width: 10%
}

.link_back {
  font-size: 1em;
  font-weight: 300;
  letter-spacing: .15em;
  margin-top: 3em;
  display: inline-block;
  padding: .7em;
  border: .07em solid #777;
}

.footer{
  margin-top: 1.5em;
  color: #555;
  font-size: .85em;
  font-weight: 300;
}

.footer a{
  color: #000;
}

.sample_help {
  display: inline-block;
  width: 80%;
}

.samples {
  padding-top: 1em;
  display: inline-block;
  width: 60%;
}

.sample_div {
  padding-bottom: 1em;
}

.sample_button {
  border = none;
  max-width: 100%;
  max-height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  cursor: pointer;
}

.sample_img {
  display: block;
  width: 100%;
  height: 100%;
}
